<%- css('css/food.css') %>
<div class="footer">
	<div class="Copyright">
	 copyright © 2019 ~ <%= new Date().getFullYear() %> <%- theme.domain %> by <%- theme.author %>
	</div>
</div>
<%- partial('_widget/gotop') %>